<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Manoel de Souza Rocha Neto as part of Andrew ead's Complete Node.js Developer Course assignment. It uses data from MapBox's and Weather Stack's respective APIs to get weather data from the location input.</p>
      <img class="portrait" src="/img/me.jpeg" alt="This is Manoel de Souza Rocha Neto">
    </div>
    {{>footer}}
  </body>
</html>